
::-webkit-input-placeholder {
  color: #D3D3D3;
}

:-moz-placeholder { /* Firefox 18- */
  color: #D3D3D3;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #D3D3D3; 
}

:-ms-input-placeholder {  
  color: #D3D3D3; 
}

/*input[type=number]::-webkit-inner-spin-button:before {
    bottom:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}
*/
textarea {
    resize: none;
    font-family: 'Maven Pro', sans-serif;
    border: none;
    font-size: 18px;
   	color: #838384;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
}

input{ 
    float: left;
    width: 90%;
    margin: 2% 5%;
    min-width: 50px;     
    background-color: white;
    border: transparent;
    text-align: left;
    outline: 0;
    font-size: 18px;
    color: #8E8E8D !important;
    clear: none !important;
    padding: 5px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[name="skill[]"]{
	text-transform: uppercase;
	width: 35%;
	margin-right: 0%;
	margin-left: 15%;
	margin-bottom: 0%;
	float: left;
	padding: 5px 20px;
}

input[name="project-title[]"]{
	width: 40%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	border: 1px solid rgba(0,0,0,.1);
	padding: 4.5px 20px;
}

.num, .date{
	width: 25%;
	position: relative;
	float: left;
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	border-right: 1px solid rgba(0,0,0,.1);
}

.num-cont{
	position: relative;
	float: left;
	width: 90%;
	margin: 0% 5%;
}

input[type=file]{
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 2px;
	width: 100%;
	height: 100%;
	color: transparent !important;
	cursor: pointer;
	text-align: center;
	background-color: transparent;
	margin-bottom: 3%;
	border-bottom: none !important;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
/*.custom-file-input::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: inline-block;
  -webkit-user-select: none;
  cursor: pointer;
  background: url(../img/add-video.svg) center center no-repeat transparent;
}*/

/*.custom-file-input:hover::before {
  content: 'Select some files';
  color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}*/

.description{
	height: 100px;
	width: 85%;
	margin: 0% 5%;
	padding: 1% 2.5%;
}

#skills .description {
	margin-bottom: 8px;
}

.clear{
	float: left;
	clear: both;
}

.display{
	display: none !important;
}

.main-title{
	float: left;
	clear: both;
}

.top-banner{
	font-weight: bold;
	text-align: left;
	width: 100%;
	padding: 2.5%;
	/*color: #4184f3;*/
	color: #838384;
}

.round-top{
	border-radius: 2px;
}

.green-btn{
	background: #93cc7c; /* Old browsers */
	background: -moz-linear-gradient(top,  #93cc7c 14%, #8e9554 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#93cc7c), color-stop(100%,#8e9554)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #93cc7c 14%,#8e9554 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #93cc7c 14%,#8e9554 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #93cc7c 14%,#8e9554 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #93cc7c 14%,#8e9554 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cc7c', endColorstr='#8e9554',GradientType=0 ); /* IE6-9 */
	padding: 1% 3%;
	float: left !important;
	color: white;
	font-size: 20px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
       -o-transition: all .25s ease;
      -ms-transition: all .25s ease;
          transition: all .25s ease;
}

.green-btn:active{
	background: #FFB450;
}

.blue-btn{
	background: #29c4f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #29c4f3 13%, #498fcc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#29c4f3), color-stop(100%,#498fcc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29c4f3 13%,#498fcc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29c4f3 13%,#498fcc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29c4f3 13%,#498fcc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #29c4f3 13%,#498fcc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c4f3', endColorstr='#498fcc',GradientType=0 ); /* IE6-9 */

}

.removeBtn{
	margin: 5px;
	color:red;
	cursor: pointer;
	float: right !important;
	clear: both !important;
	margin-right: 5%;
}

.vid{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	height: auto;
}

.stats{
	float: right;
	clear: both;
}

.locked{
	background-color: #E0E0DF;
}
/* ------- Profile Card :: Styling ------- */
#profile-pop-up{
	/*background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;*/
	background-color: #e9eef3;
	background-size: 20px 20px;
	height: 100%;
	width: 100%;
	position: relative;
	float: left;
}
#connect-social-container{
	display: inline-block;
	width: auto;
	height: auto;
}

#social-profiles{
	width: 100%;
	position: relative;
	float: left;
	height: auto;
	text-align: center;
}

.s-icon{
	float: left;
	height: 50px;
	width: 50px;
	margin: 10px;
}

#connect-facebook{
	background: url(../img/instagram-badge.svg) center center no-repeat transparent;
  	background-size: 100% 100%;
}

#connect-twitter{
	background: url(../img/fb-badge.svg) center center no-repeat transparent;
  	background-size: 100% 100%;
}

#connect-instagram{
	background: url(../img/twitter-badge.svg) center center no-repeat transparent;
  	background-size: 100% 100%;
}

.section{
	text-align: center;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	height: auto;
	overflow: hidden;
	margin-top: 5%;
	padding-bottom: 5%;
}

.profile-picture{
	display: inline-block;
	position: relative;
	width: 15vw;
	min-width: 150px;
	min-height: 150px;
	height: 15vw;
	border-radius: 100%;
	overflow: hidden;
	background: url(../img/add-profile-pic.svg) center center no-repeat transparent;
  	background-size: 90% 90%;
	border: 1px dashed #BCBBBB;
}

#profile-vid{
	position: relative;
	height: 300px;
	width: 90%;
	overflow: hidden;
	/*background: url(../img/add-video.svg) center center no-repeat transparent;*/
  	background-size: 40% 40%;
  	border: 1px dashed #BCBBBB;
  	border-radius: 2px;
  	margin: 2% 5%;
}

#intro-video{
	width: 100%;
	color: #838384;
	position: relative;
	float: left;
	text-align: center;
}

#p-site{
	width: 90%;
	margin: 2% 5%;
}

input[name=site]{
	margin: 0%;
	margin-bottom: 2%;
	/*margin-right: 2%;*/
	width: 70%;
	float: left;
}

#site-btn{
	float: right !important;
	width: 27%;
	padding: 1.75% 2%;
}

/* -----------------Profile Syling----------------- */

#profile{
	width: 60%;
	margin: 0% 20%;
	height: auto;
	float: left;
}

.container {
  height: 100%;
  width: 85%;
  margin: 0% 7.5%;
  position: relative;
  float: left;
  overflow-y:scroll;
}

#colorScr-Container{
	background: url(../img/colorScr.svg) no-repeat transparent;
	background-position: center;
	height: 20%;
	width: 20%;
	display: inline-block;
	min-width: 150px;
	min-height: 150px; 
	background-size: 100% 100%;
	margin: 10px 0px;
}

#colorScr{
	font-size: 100px;
}

#profile-container{
	position: relative;
	width: 95%;
	margin: 0 2.5%;
	float: left;
	min-width: 60px;
	height: auto;
	text-align: center;
}

#newProject{
	width:1000px;
	height: 200px;
	float: left;
	clear: both;
}

.addProject{
	position: relative;
	font-size: 24px !important;
	font-weight: bold;
	padding: 2px;
	width: 5%;
	float: left;
	background: #29c4f3;
	margin: 2% 0%;
	margin-bottom: 0%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#addProject #project:nth-child(2n) {background:  #B4BFD2 !important; color: white !important}

.addProject:before{
	content: ' ';
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -5px;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;	
	border-right:5px solid #29c4f3; 
}

.left{
	margin-right: 5%;
	float: right;
	color: #9A9A9A !important;
	font-family:monospace;
	font-size: 12px;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
	position: absolute;
	text-align: center;
	color: white;
	bottom: 10px;
	left: 20px;
	height: 50px;
	width: 200px;
	background: url(../img/points.png) no-repeat transparent;
	background-position: center;
	background-size: cover;
	z-index: 100;
	border-radius: 7px;
	 -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	-webkit-animation-name: fadeOutUp;
	 animation-name: fadeOutUp;
}

.projects{
	clear: both;
}

.project{
	cursor: pointer;
}

.projectTitle{
	padding: 1.5% 0%;
	clear: both;
	color: #828282;
	float: left;
}

.years{
	/*clear: right !important;*/
	color: white;
	padding: 1% 1.8%;
	margin: 0.5% 1%;
	border-radius: 50%;
	background-color: #2B333A;
	float: left;
}

.edit{
	color: red !important;
}

#details{
	clear: both;
	height:auto;
	padding: 2% 0%;
	width: 100%;
	color: white;
	text-align: center;
	background-color: #2B333A ;
}

.btm-border{
	height: 3px;
	width: 100%;
}

#new-skill{
	width: 60%;
	margin: 2% 20%;
	padding: 1.75% 2%;
}
/* ------- Achievments Template :: Styling ------- */
#award{
	height: auto;
	width: 29%;
	margin: 2% 2%;
	padding: 2% 0%;
	border-radius: 2px;
	border: 1px solid #D3D3D3;
	float: left;
	background-color: white;
	text-align: center;	
}

#award-btn{
	padding: 5% !important;
	width: 70%;
	margin: 5% 15% 0% 15%; 
}

.award{
	width: 33.3333%;
	float: left;
	height: auto;
	padding: 2% 0%;
}

#award input {
	width: 80%;
	margin: 0% 10%;
	text-align: center;
	background-color: transparent;
	padding: .25%;
	font-size: 24px;
	color: #D3D3D3;
}

#new-awards{
	width: auto;
	height: auto;
	background-color: red;
}

.aw-pic{
	width: 60%;
	margin: 5% 20%; 
}

#category{
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	background-color: white;
	z-index: 1000;
}

.cat-cont{
	padding-left: 10%;
	width:20%;
	padding-bottom: 5%;
	cursor: pointer;
	float: left;
	text-align: center;
	color: #53626D;
	white-space: nowrap;
}

.cat{
	width: 100%;
}

#a-h{
	color: grey;
	width: 100%;
	padding: 2% 0%;
}

.border{
	width: 90%;
	height: 1px;
	background-color: #D3D3D3;
	margin: 0% 5%;
}

.award-title{
	color: #53626D;
}

.auth-name{
	color: #D3D3D3;
}
/* ------- Media Queries :: Styling ------- */

/*
@media screen and (max-width: 900px) {
	#container{
		width: 90%;
		margin: 0px 5%;
	}

	input{
		width: 78%;
	}
}*/